
.accordion-item .accordion-content {
  overflow: hidden;
}

.w3-inactive-accordion-item {
  border: none;
  display: inline-block;
  padding: 8px 24px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  white-space: nowrap;
  opacity: 0.35;
}

