/*added by John Bermeo */
.w3-tab-inactive {
  padding: 8px 34px 11px 34px;
}

.w3-tab-active {
  border-bottom: 3px solid #3f51b5 !important;
  padding: 8px 34px 8px 34px;
  color: #3f51b5 !important;
  font-weight: 600;
}

.w3-tab-active:hover {
  color: #3f51b5 !important;
}
/****/
