<h2 class="w3-panel">Buttons</h2>

<div class="w3-container">
  <h2>Basic Buttons (w3-button)</h2>
  <button ngw3-button rippleEffect [bordered]="false">Basic</button>&nbsp;
  <button ngw3-button rippleEffect color="primary" [bordered]="false">Primary</button>&nbsp;
  <button ngw3-button rippleEffect color="secundary" [bordered]="false">secundary</button>&nbsp;
  <button ngw3-button rippleEffect color="success" [bordered]="false">success</button>&nbsp;
  <button ngw3-button rippleEffect color="danger" [bordered]="false">danger</button>&nbsp;
  <button ngw3-button rippleEffect color="warning" [bordered]="false">warning</button>&nbsp;
  <button ngw3-button rippleEffect color="info" [bordered]="false">info</button>&nbsp;
</div>
&nbsp;
<div class="w3-container">
  <button ngw3-button rippleEffect [bordered]="false" [reised]="true">Basic</button>&nbsp;
  <button ngw3-button rippleEffect color="primary" [bordered]="false" [reised]="true">Primary</button>&nbsp;
  <button ngw3-button rippleEffect color="secundary" [bordered]="false" [reised]="true">secundary</button>&nbsp;
  <button ngw3-button rippleEffect color="success" [bordered]="false" [reised]="true">success</button>&nbsp;
  <button ngw3-button rippleEffect color="danger" [bordered]="false" [reised]="true">danger</button>&nbsp;
  <button ngw3-button rippleEffect color="warning" [bordered]="false" [reised]="true">warning</button>&nbsp;
  <button ngw3-button rippleEffect color="info" [bordered]="false" [reised]="true">info</button>&nbsp;
</div>

<div class="w3-container">
  <h2>Stroked Buttons</h2>
  <button ngw3-button rippleEffect>Basic</button>&nbsp;
  <button ngw3-button rippleEffect color="primary">Primary</button>&nbsp;
  <button ngw3-button rippleEffect color="secundary">secundary</button>&nbsp;
  <button ngw3-button rippleEffect color="success">success</button>&nbsp;
  <button ngw3-button rippleEffect color="danger">danger</button>&nbsp;
  <button ngw3-button rippleEffect color="warning">warning</button>&nbsp;
  <button ngw3-button rippleEffect color="info">info</button>&nbsp;
</div>
&nbsp;
<div class="w3-container">
  <button ngw3-button rippleEffect [reised]="true">Basic</button>&nbsp;
  <button ngw3-button rippleEffect color="primary" [reised]="true" round="xxlarge">Primary</button>&nbsp;
  <button ngw3-button rippleEffect color="secundary" [reised]="true">secundary</button>&nbsp;
  <button ngw3-button rippleEffect color="success" [reised]="true">success</button>&nbsp;
  <button ngw3-button rippleEffect color="danger" [reised]="true">danger</button>&nbsp;
  <button ngw3-button rippleEffect color="warning" [reised]="true">warning</button>&nbsp;
  <button ngw3-button rippleEffect color="info" [reised]="true">info</button>&nbsp;
  <a href="/buttons" ngw3-button color="secundary" rippleEffect>Link Button</a>&nbsp;
</div>

<div class="w3-container">
  <h2>Flat Buttons (w3-btn)</h2>
  <button ngw3-flat-button rippleEffect>Basic</button>&nbsp;
  <button ngw3-flat-button rippleEffect color="primary" round="xxlarge">Primary</button>&nbsp;
  <button ngw3-flat-button rippleEffect color="secundary">secundary</button>&nbsp;
  <button ngw3-flat-button rippleEffect color="success">success</button>&nbsp;
  <button ngw3-flat-button rippleEffect color="danger">danger</button>&nbsp;
  <button ngw3-flat-button rippleEffect color="warning">warning</button>&nbsp;
  <button ngw3-flat-button rippleEffect color="info">info</button>&nbsp;
  <button class="w3-button w3-white w3-border w3-border-red w3-round-large" rippleEffect>Button</button>&nbsp;
</div>
<br>
<div class="w3-container">
  <button ngw3-flat-button rippleEffect [reised]="true">Basic</button>&nbsp;
  <button ngw3-flat-button rippleEffect color="primary" [reised]="true">Primary</button>&nbsp;
  <button ngw3-flat-button rippleEffect color="secundary" [reised]="true">secundary</button>&nbsp;
  <button ngw3-flat-button rippleEffect color="success" [reised]="true">success</button>&nbsp;
  <button ngw3-flat-button rippleEffect color="danger" [reised]="true">danger</button>&nbsp;
  <button ngw3-flat-button rippleEffect color="warning" [reised]="true">warning</button>&nbsp;
  <button ngw3-flat-button rippleEffect color="info" [reised]="true">info</button>&nbsp;
  <button class="w3-button w3-white w3-border w3-border-red w3-round-large" rippleEffect>Button</button>&nbsp;
</div>

<div class="w3-container">
  <h2>Icon Buttons</h2>
  <button ngw3-icon-button rippleEffect [bordered]="false">
    <i class="fa fa-linkedin"></i>
  </button>&nbsp;
  <button ngw3-icon-button color="primary" rippleEffect [bordered]="false">
    <i class="fa fa-instagram"></i>
  </button>&nbsp;
  <button ngw3-icon-button rippleEffect color="secundary" [bordered]="false">
    <i class="fa fa-facebook-official"></i>
  </button>&nbsp;
  <button ngw3-icon-button rippleEffect color="success" [bordered]="false">
    <i class="fa fa-snapchat"></i>
  </button>&nbsp;
  <button ngw3-icon-button rippleEffect color="danger" [bordered]="false">
    <i class="fa fa-pinterest-p"></i>
  </button>&nbsp;
  <button ngw3-icon-button rippleEffect color="warning" [bordered]="false">
    <i class="fa fa-home"></i>
  </button>&nbsp;
  <button ngw3-icon-button rippleEffect color="info" [bordered]="false">
    <i class="fa fa-twitter"></i>
  </button>&nbsp;
</div>

<br>
<div class="w3-container">
<div class="w3-bar">
  <button class="w3-bar-item w3-button w3-black" rippleEffect>Button</button>&nbsp;
  <button class="w3-bar-item w3-button w3-teal" rippleEffect>Button</button>&nbsp;
  <button class="w3-bar-item w3-button w3-red" disabled>Button</button>&nbsp;
</div>
</div>
<br>
<div class="w3-bar">
  <button class="w3-bar-item" ngw3-flat-button color="primary" style="width:33.3%">Button</button>
  <button class="w3-bar-item" ngw3-flat-button rippleEffect color="danger" style="width:33.3%">Button</button>
  <button class="w3-bar-item" style="width:33.3%">Button</button>
</div>
