<h2 class="w3-panel">Buttons</h2>

<div class="w3-container">
  <h2>Buttons (w3-button)</h2>
  <input type="button" class="w3-button w3-black" value="Input Button">&nbsp;
  <button class="w3-button w3-black">Button Button</button>&nbsp;
  <a href="#" class="w3-button w3-black">Link Button</a>&nbsp;
</div>

<div class="w3-container">
  <h2>Buttons (w3-btn)</h2>
  <button class="w3-btn w3-black" rippleEffect>Button 11</button>&nbsp;
  <button class="w3-btn w3-teal" rippleEffect>Button</button>&nbsp;
  <button class="w3-btn w3-red" rippleEffect>Button</button>&nbsp;
  <button class="w3-button w3-white w3-border w3-border-red w3-round-large" rippleEffect>Button</button>&nbsp;
</div>
&nbsp;
<div class="w3-container">
<div class="w3-bar">
  <button class="w3-bar-item w3-button w3-black" rippleEffect>Button</button>&nbsp;
  <button class="w3-bar-item w3-button w3-teal" rippleEffect>Button</button>&nbsp;
  <button class="w3-bar-item w3-button w3-red" disabled>Button</button>&nbsp;
</div>
</div>
