<h3 class="w3-panel">Cards</h3>

<div class="w3-row-padding">
  <div class="w3-third">
    <ngw3-card w3Card type="uno">

      <img src="../assets/images/img_snowtops.jpg" alt="Alps" style="width: 100%" />

      <ngw3-card-header cColor="w3-blue">
        header
      </ngw3-card-header>

      <ngw3-card-body>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
        <div class="w3-section">
          <button class="w3-button w3-green w3-round">Accept</button>
        </div>
      </ngw3-card-body>

      <!-- <ngw3-card-footer></ngw3-card-footer> -->
    </ngw3-card>
  </div>

  <div class="w3-third">
    <ngw3-card w3Card>

      <ngw3-card-header cColor="w3-blue">
        header
      </ngw3-card-header>

      <img src="../assets/images/img_snowtops.jpg" alt="Alps" style="width: 100%" />

      <ngw3-card-body>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
        <div class="w3-section">
          <button class="w3-button w3-green w3-round">Accept</button>
        </div>
      </ngw3-card-body>

      <!-- <ngw3-card-footer></ngw3-card-footer> -->
    </ngw3-card>
  </div>

  <div class="w3-third">
    <ngw3-card w3Card>

      <ngw3-card-header cColor="w3-blue">
        header
      </ngw3-card-header>

      <img src="../assets/images/img_snowtops.jpg" alt="Alps" style="width: 100%" />

      <ngw3-card-body>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
        <div class="w3-section">
          <button class="w3-button w3-green w3-round">Accept</button>
        </div>
      </ngw3-card-body>

      <ngw3-card-footer></ngw3-card-footer>
    </ngw3-card>
  </div>
</div>
